<section class="graficas container">
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
          <h5 class="card-title">Contenido de la gráfica</h5>
          <!-- Contenido de las gráficas en chart -->
          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              </div>
              <button mat-button mat-raised-button color="primary" (click)="randomize()" class="btn btn-primary btn-lg btn-block">Actualizar</button>
            </div>
          </div>
          <!-- Fin Contenido de las gráficas en chart -->
          </div>
        </div>
</section>
