<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Bienvenido</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<div class="container botones">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Conectar con el programa</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary btn-lg">Start</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Desconectar del programa</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary btn-lg">Stop</a>
            </div>
          </div>
        </div>
      </div>
</div>
<app-graficas></app-graficas>
<app-footer></app-footer>